@import "tailwindcss";

* {
  scroll-behavior: smooth;
  user-select: none;
}
body {
  overflow-x: hidden;
  background-color: white;
  width: 100%;
  color: #0c1018;
}
body::-webkit-scrollbar {
  display: none;
}
.scroller_none::-webkit-scrollbar {
  display: none;
}
button {
  cursor: pointer;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.padding{
  padding-inline: 3rem;
}
.cover{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer_desc{
  background: linear-gradient(#ede8e300 0%, #ede8e3 17.9459%, #87a1c4 45.2668%, #182644 88.0191%, #1e1310 100%);
}

.seq_parent{
  background: linear-gradient(rgb(30, 19, 16) 25.1883%, rgb(144, 60, 39) 50.2763%, rgb(228, 108, 68) 76.0487%, rgb(237, 148, 84) 100%);
}