@import "tailwindcss";

* {
  scroll-behavior: smooth;
  user-select: none;
}
body {
  overflow-x: hidden;
  width: 100%;
  color: #0c1018;
}
body::-webkit-scrollbar {
  display: none;
}
.scroller_none::-webkit-scrollbar {
  display: none;
}
button {
  cursor: pointer;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.padding{
  padding-inline: 3rem;
}
.cover{
  width: 100%;
  height: 100%;
  object-fit: cover;
}